# use glob syntax.
syntax: glob

*.log
*.swp
*.swo
*.pyc
dist
secret_key
public/
ignore/
old/
old-*
.sass-cache/
.idea/
db.sqlite3
core/
manage.py
TODO

Supprimerait core/
Supprimerait manage.py
Supprimerait product_catalog/
/TODO
