{% extends "product_catalog/base.html" %}
{% load i18n %}

{% block catalog_content %}
    <h2>{% trans "Category"  %}: {{ category.title }}</h2>

    <p>{{ category.content }}</p>

    {% trans "Products in this category" %}:
    <ul>
    {% for product in product_list %}
        <li><a href="{{ product.get_absolute_url }}">{{ product }}</a></li>
    {% empty %}
        <li>{% trans "Sorry, no products in this list." %}</li>
    {% endfor %}
    </ul>

    {% include "product_catalog/_paginator.html" %}
{% endblock %}

