{% extends "product_catalog/base.html" %}
{% load i18n %}

{% block catalog_content %}
    <h2>{%  trans "Product List" %}</h2>

    {% if FRONT_MANAGEMENT %}
    <a href="{% url 'product_catalog:product_add' %}">Create new product</a>
    {% endif %}

    <ul>
    {% for product in product_list %}
        <li>
            <a href='{{ product.get_absolute_url }}'>{{ product }}</a>
            {% if product.excerpt %}
                <br />{{ product.excerpt }}
            {% endif %}

            {% if product.categories.all %}
                <br />
                {%  trans "Categories" %}:
                {% for category in product.categories.all %}
                    <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% endif %}
        </li>
    {% empty %}
        <li>{%  trans "No products yet." %}</li>
    {% endfor %}
    </ul>

    {% include "product_catalog/_paginator.html" %}
{% endblock %}
